--markup markdown
--markup-provider commonmarker
--output-dir docs/api
--no-private
--tag internal
--hide-tag internal
--plugin convenient_service_concern
--plugin convenient_service_exclude_self_classes
'lib/**/*.rb'
-
README.md
