--markup markdown
--markup-provider commonmarker
--output-dir docs/api
--no-private
--tag internal
--hide-tag internal
--tag license
--hide-tag license
--hide-tag author
--exclude lib/convenient_service/debug/**/*
--exclude lib/convenient_service/examples/**/*
--plugin convenient_service_concern
--plugin convenient_service_exclude_self_classes
'lib/convenient_service.rb'
'lib/**/*.rb'
-
README.md
